# Core libraries
numpy>=1.26.4
pandas>=2.2.2
scipy>=1.13.0
opencv-python>=4.9.0.80
scikit-learn>=1.4.2
matplotlib>=3.8.4
seaborn>=0.13.2
tqdm>=4.66.2
pillow>=10.2.0

# PyTorch & Vision
torch>=2.2.2
torchvision>=0.17.2

# For COCO dataset support
pycocotools>=2.0.7

# Data handling
pyyaml>=6.0.1
protobuf>=5.26.1
Cython>=3.0.10

# Logging and utilities
loguru>=0.7.2

# Streamlit for web apps
streamlit>=1.33.0
streamlit-webrtc>=0.45.0

# MongoDB
pymongo>=4.7.1

# NLP tools
transformers>=4.40.0
sentence-transformers>=2.6.1

# Graph utilities
networkx>=3.3

# Tensorboard
tensorboard>=2.16.2
grpcio>=1.64.0

# Video / Audio processing
av==11.0.0
ffmpeg-python>=0.2

# For Hugging Face API integration
requests>=2.31.0

SpeechRecognition
